<section>
  <div class="container">
    <div class="row">
      <div class="col InfoImg">
        <img
          src="<%= score.image_url %>"
          alt=""
          class="mb-2"
          style="width: 400px; height: 400px"
        />
      </div>
      <div class="col">
        <span class="game"> <%= score.title %></span>
        <div><%= score.genre %>,<%= score.release_date %></div>
        <div><%= score.description %></div>
      </div>
    </div>
  </div>
</section>
<section>
  <h1 class="Highscoretext">Highscores</h1>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <% game.forEach(games => { %>
  <div class="highscore">
    <div class="container">
      <div class="row">
        <div class="game col-sm"><%= games.game %></div>
        <div class="points col-sm"><%= games.points %></div>
      </div>
      <div class="row">
        <div class="player_date col-sm">
          <% const scoreDate = new Date (games.score_date); %> <%= games.player
          %>,<%= scoreDate.toLocaleDateString('se-SE'); %>
        </div>
      </div>
    </div>
  </div>
  <% }) %>
</section>
