<section>
  
    <div class="container">
      <div class="row">
        <% Games.forEach(gameInfo => { %>
        <div class="game col-sm"><%= gameInfo.title %></div>
        <div class="points col-sm"><%= gameInfo.genre %></div>
      </div>
      <div class="row">
        <div class="player_date col-sm">
          <%= gameInfo.description %>,<%= gameInfo.release_date %>
        </div>
        <% }) %>
  <% Highscores.forEach(highscore => { %>
    <div class="container">
      <div class="row">
        <div class="game col-sm"><%= highscore.game %></div>
        <div class="points col-sm"><%= highscore.player %></div>
      </div>
      <div class="row">
        <div class="player_date col-sm">
          <%= highscore.points %>,<%= highscore.score_date %>
        </div>
  <% }) %>
</section>
