<section>
  <h1 class="Highscoretext">Highscores</h1>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <% allHighscores.forEach(highscore => { %> <% Titlegame.forEach(Titlegame =>
  {%>
  <a href="/games/<%= highscore.game %>">
    <div class="highscore">
      <div class="container">
        <div class="row">
          <div class="game col-sm"><%= Titlegame.title %></div>
          <div class="points col-sm"><%= highscore.points %></div>
        </div>
        <div class="row">
          <div class="player_date col-sm">
            <% const scoreDate = new Date (highscore.score_date); %> <%=
            highscore.player %>,<%= scoreDate.toLocaleDateString('se-SE'); %>
          </div>
        </div>
      </div>
    </div>
  </a>
  <% }) %> <% }) %>
</section>
