<section>
  <h1 class="Highscoretext">Highscores</h1>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <% allHighscores.forEach(highscore => { %>
  <a href="/games/<%= highscore.url_slug %>">
    <div class="highscore">
      <div class="container">
        <div class="row">
          <div class="game col-sm"><%= highscore.game %></div>
          <div class="points col-sm"><%= highscore.points %></div>
        </div>
        <div class="row">
          <div class="player_date col-sm">
            <%= highscore.player %>,<%= highscore.score_date %>
          </div>
        </div>
      </div>
    </div>
  </a>
  <% }) %>
</section>
