<section class="search-results mb-4">
  <div class="text-center mb-4">Hittade <%= Games.length %> produkter</div>
  <div class="highscore">
    <div class="container">
      <div class="row">
        <% Games.forEach(game => { %>
        <div class="game col-sm"><%= game.title %></div>
        <div class="col-sm"><%= game.image_url %></div>
      </div>
      <div class="row">
        <div class="col-sm"><%= game.genre %>,<%= game.release_date %></div>
      </div>
    </div>
  </div>
  <% }) %>
</section>
