<section class="search-results mb-4">
  <% Games.forEach(game => { %>

  <div class="text-center mb-4">
    Hittade <%= Games.length %> träffar på "<%= searchWord%>"
  </div>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <a href="/games/<%= game.url_slug %>">
    <div class="highscore">
      <div class="container">
        <div class="row">
          <div class="col">
            <span class="game col-sm"><%= game.title %></span>
            <div class="player_date col-sm">
              <%= game.genre %>,<%= game.release_date %>
            </div>
          </div>

          <div class="col searchImg">
            <img
              src="<%= game.image_url %>"
              alt=""
              class="mb-2"
              style="width: 140px; height: 100px"
            />
          </div>
        </div>
      </div>
    </div>
  </a>
  <% }) %>
</section>
